.my-container-fluid {
  width: 100%;
  padding: 0 8rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}


.bg-magenta {
  background-color: #FF385C;
}

.bb-magenta {
  border-bottom: 1px solid #FF385C;
}
