.card{
    border-radius: 20px;

    .card-header{
        background-color: #f7f7f7;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

#submit{
    background-color: #ff385c;
    padding: 10px 20px;
}

